/*
 * Globals
 */

/* Font */ 
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bitter);
@import url(http://fonts.googleapis.com/css?family=Lato);

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  font-family: 'Lato','Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-Serif';
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.table-header {
  font-size: 16px;
}

.checkbox-align {
  text-align: center;
}

table > tr > td {
  padding: 5px;
  font-size:14px;
  border: 1px solid #dddddd;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  min-height: 100vh;
  padding: 40px 0;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table;
  height: auto;
  width: 100%;
}
.site-wrapper-inner-auto {
  display: table;
  height: auto;
  width: 100%;
}
.cover-container {
  display: table-cell;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .site-wrapper-inner {
    height: 100vh;
  }
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */

 .logout {
  width: 90%;
  text-align: right;
  margin-right: auto;
 }


.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a, .logout > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.logout > a:hover,
.logout > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus
.logout > .active > a,
.logout > .active > a:hover,
.logout > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.mastfoot-nav > li {
  display: inline-block;
}
.mastfoot-nav > li + li {
  margin-left: 20px;
}
.mastfoot-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-top: 2px solid transparent;
}
.mastfoot-nav > li > a:hover,
.mastfoot-nav > li > a:focus {
  background-color: transparent;
  border-top-color: #a9a9a9;
  border-top-color: rgba(255,255,255,.25);
}
.mastfoot-nav > .active > a,
.mastfoot-nav > .active > a:hover,
.mastfoot-nav > .active > a:focus {
  color: #fff;
  border-top-color: #fff;
}

.submit-quote {
    height: 100vh;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .mastfoot-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  
}
.cover .btn-lg {
  padding: 10px 20px;
  margin: 15px;
}


h1 {
  line-height: 1.5;
  max-width: 100vw;
  word-wrap: break-word;
  font-family: 'Bitter','Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-Serif';
}

.admin-buttons {
  padding: 10px 20px;
  margin: 15px;
  
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  font-size: 12px;
}

.ack {
  margin-right: auto;
  margin-left: auto;
  bottom: 1.5vw;
  vertical-align: middle;
  width:100%;
  max-width: 600px;
  margin: auto;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    right: 1.5vw;
  }
  .mastfoot {
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  h1 {
    font-size: 400%;
  }

}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 80%;
  }
}

.form-control {
  max-width: 600px;
  margin: auto;
}
